<!DOCTYPE html>
<html>
   <head>
      <title>Plants</title>
      <%-include('layouts/header');-%>
   </head>
   <body>
      <%-include('layouts/navbar');-%>
      <h1>Plant Types</h1>
      <br/>
      <br/>
      <br/>
      <form action="/ejs-testing/plants/store" method="post" enctype="application/x-www-form-urlencoded">
         <label for="plant_id">Plant Id</label>
         <input type="text" name="plant_id">

         <label for="common_name">Common Name</label>
         <input type="text" name="common_name">

         <label for="latin_name">Latin Name</label>
         <input type="text" name="latin_name">

         <label for="light_level">Light Level</label>
         <input type="text" name="light_level">

         <label for="min_temp">Min. Temp</label>
         <input type="text" name="min_temp">

         <label for="max_temp">Max. Temp</label>
         <input type="text" name="max_temp">

         <label for="rec_temp">Rec. Temp</label>
         <input type="text" name="rec_temp">

         <label for="hardiness_zone">Hardiness</label>
         <input type="text" name="hardiness_zone">

         <label for="soil_type">Soil Type</label>
         <input type="text" name="soil_type">

         <button type="submit">Submit</button>
      </form>
      <br/>
      <form action="/ejs-testing/plants/id" method="get">
         <input type="text" name="id"  placeholder = "Search by id..." >
         <button type="submit">Submit</button>
      </form>
      <br/>
      <form action="/ejs-testing/plants/query" method="get">
         <input type="text" name="string" placeholder = "Search by description...">
         <button type="submit">Submit</button>
      </form>
      <br/>
      <% if (typeof plants !== 'undefined') { %>
         <span id="plants-selectable" hidden><%=JSON.stringify(plants);%></span>
         <div>
            <% plants.forEach(plant => { %>
               <%= "{" %> 
               <div>ID: <%=plant.plant_id%></div>
               <div>Common Name: <%=plant.common_name%></div> 
               <div>Latin Name: <%=plant.latin_name%></div>
               <div>Light Level: <%=plant.light_level%></div>
               <div>Min. Temp: <%=plant.min_temp%></div>
               <div>Max. Temp: <%=plant.max_temp%></div>
               <div>Rec. Temp: <%=plant.max_temp%></div>
               <div>Hardiness Zone: <%=plant.hardiness_zone%></div>
               <div>Soil Type: <%=plant.soil_type%></div>
               <%= "}" %> 
               <br/>
               <button class = "edit-record" value="<%=plant.plant_id%>">Edit</button>
               &emsp;
               <button class = "delete-record" value="<%=plant.plant_id%>">Delete</button>
               <br/>
            <% }) %>
         </div>
      <% } %>
      <script>
         //var plants = JSON.parse($('#plants-selectable').text());
         //console.log(plants);
         
         const deleteButtons = document.querySelectorAll('.delete-record').forEach(button=>{
            button.addEventListener('click',  (e)=>{
               console.log('delete pressed ' + e.target.value);
               const promptText = "Do you really want to delete the record:\n" + e.target.value + "?";
               if(confirm(promptText)){
                  console.log("Deleted record: " + e.target.value);
                  const deletePost = fetch('http://localhost:3000/ejs-testing/plants/delete/' + e.target.value, {
                     method:'DELETE'
                  })
               }
               else{
                  console.log("Deleted record canceled for: " + e.target.value);
               }
            });
         });

         let editButtons = document.querySelectorAll('.edit-record');
         editButtons.forEach(button=>{
            button.addEventListener('click', (e)=>{
               console.log('edit pressed ' + e.target.value);
            });
         });
      </script>
   </body>
</html>