<!DOCTYPE html>
<html>
   <head>
      <title>User Plants</title>
      <%-include('layouts/header');-%>
   </head>
   <body>
      <%-include('layouts/navbar');-%>
      <h1>User Plants</h1>
      <br/>
      <br/>
      <br/>
      <form action="/ejs-testing/userPlants/store" method="post" enctype="application/x-www-form-urlencoded">
         <label for="user_key">User key</label>
         <input type="text" name="user_key">

         <label for="plant_key">Plant key</label>
         <input type="text" name="plant_key">

         <label for="garden_key">Garden key</label>
         <input type="text" name="garden_key">

         <label for="plant_disease">Curr. Disease</label>
         <input type="text" name="plant_disease">

         <label for="plant_pest">Curr. Pest</label>
         <input type="text" name="plant_pest">

         <label for="plant_qty">Plant Qty</label>
         <input type="text" name="plant_qty">

         <label for="plant_difficulty">Plant Difficulty</label>
         <input type="text" name="plant_difficulty">

         <label for="plant_quality">Plant Quality</label>
         <input type="text" name="plant_quality">

         <button type="submit">Submit</button>
      </form>
      <br/>
      <form action="/ejs-testing/userPlants/key" method="get">
         <input type="text" name="key"  placeholder = "Search by key..." >
         <button type="submit">Submit</button>
      </form>
      <br/>
      <form action="/ejs-testing/userPlants/getByGarden/key" method="get">
         <input type="text" name="key"  placeholder = "Search by garden key..." >
         <button type="submit">Submit</button>
      </form>
      <br/>
      <form action="/ejs-testing/userPlants/search" method="get">
         <input type="text" name="string" placeholder = "Search by description...">
         <button type="submit">Submit</button>
      </form>
      <br/>
      <% if (typeof userPlants !== 'undefined') { %>
         <div>
            <% userPlants.forEach(plant => { %>
               <%= "{" %> 
               <div>User Plant Key: <%=plant.user_plant_key%></div>
               <div>User Key: <%=plant.user_key%></div>
               <div>plant key: <%=plant.plant_key%></div> 
               <div>garden key: <%=plant.garden_key%></div>
               <div>Curr. Disease: <%=plant.plant_disease_key%></div>
               <div>Curr. Pest: <%=plant.plant_pest_key%></div>
               <div>Plant Qty: <%=plant.plant_qty%></div>
               <div>Plant Difficulty: <%=plant.plant_difficulty%></div>
               <div>Plant Quality: <%=plant.plant_quality%></div>
               <%= "}" %> 
               <br/>
               <button class = "edit-record" value="<%=plant.user_plant_key%>">Edit</button>
               &emsp;
               <button class = "delete-record" value="<%=plant.user_plant_key%>">Delete</button>
               <br/>
            <% }) %>
         </div>
      <% } %>
      <script>
         //var plants = JSON.parse($('#plants-selectable').text());
         //console.log(plants);
         
         const deleteButtons = document.querySelectorAll('.delete-record').forEach(button=>{
            button.addEventListener('click',  (e)=>{
               console.log('delete pressed ' + e.target.value);
               const promptText = "Do you really want to delete the record:\n" + e.target.value + "?";
               if(confirm(promptText)){
                  console.log("Deleted record: " + e.target.value);
                  const deletePost = fetch('http://localhost:3000/ejs-testing/userPlants/delete/' + e.target.value, {
                     method:'DELETE'
                  })
               }
               else{
                  console.log("Deleted record canceled for: " + e.target.value);
               }
            });
         });

         let editButtons = document.querySelectorAll('.edit-record');
         editButtons.forEach(button=>{
            button.addEventListener('click', (e)=>{
               console.log('edit pressed ' + e.target.value);
            });
         });
      </script>
   </body>
</html>