<!DOCTYPE html>

<html>
   <head>
      <title>Weather</title>
      <%-include('layouts/header');-%>
   </head>
   <body>
      <%-include('layouts/navbar');-%>
      <h1>Weather</h1>
      <br/>
      <br/>
      <br/>
      <h2>Current Weather By Zip</h2>
      <form action="/ejs-testing/weather/zipcode" method = "get">
         <input type="text" name="zipcode"  placeholder = "Set Zipcode..." >
         <button type="submit">Submit</button>
      </form>
      <h2>3 Day forecast by zip</h2>
      <form action="/ejs-testing/weather/3dayForecast" method = "get">
         <input type="text" name="zipcode"  placeholder = "Set Zipcode..." >
         <button type="submit">Submit</button>
      </form>
      <% if (typeof weather !== 'undefined') { %>
         <div class="table">
            <center>
                <table class = 'table is-bordered is-striped is-narrow is-hoverable is-borederd'>
                    <tbody>
                        <tr><td>City</td><td><%=weather.name%></td></tr>
                        <tr><td>Weather</td><td><%=weather.weather[0].main%></td></tr>
                        <tr><td>Temperature</td><td><%=weather.main.temp%></td></tr>
                    </tbody>
                </table>
          </center> 
      <% } %>
      
      <% if (typeof weatherByZip !== 'undefined') { %>
      <center>
         <div class="zipDisplay">
            <div>City Name: <%=weatherByZip.cityName%></div>
            <div>Date: <%=weatherByZip.clientDate%></div>
            <div>Curr. Temp: <%=weatherByZip.currentTemp%></div>
            <div>Low Temp: <%=weatherByZip.lowTemp%></div>
            <div>Max Temp:<%=weatherByZip.maxTemp%></div>
            <div>Weather ID: <%=weatherByZip.weatherId%></div>
            <div>Weather Param: <%=weatherByZip.weatherMain%></div>
            <div>Param Description: <%=weatherByZip.weatherDescription%></div>
            <div>Icon Code: <%=weatherByZip.weatherIcon%></div>
         </div>
      </center>
      <% } %>

      <% if (typeof curr3DayForecast !== 'undefined') { %>  
      <center>
         <div class="threeDayForecast">
            <div>Forecast 1 Date: <%=curr3DayForecast.Forecast1Date%></div>
            <div>Forecast 1: <%=curr3DayForecast.Forecast1main%></div>
            <div>Forecast 1 Icon: <%=curr3DayForecast.Forecast1icon%></div>
            <div>Forecast 1 description: <%=curr3DayForecast.Forecast1desc%></div>
            <div>Forecast 1 Rain Inches: <%=curr3DayForecast.Forecast1rain%></div>
            <div>Forecast 2 Date: <%=curr3DayForecast.Forecast2Date%></div>
            <div>Forecast 2: <%=curr3DayForecast.Forecast2main%></div>
            <div>Forecast 2 Icon: <%=curr3DayForecast.Forecast2icon%></div>
            <div>Forecast 2 description: <%=curr3DayForecast.Forecast2desc%></div>
            <div>Forecast 2 Rain Inches: <%=curr3DayForecast.Forecast2rain%></div>
            <div>Forecast 3 Date: <%=curr3DayForecast.Forecast3Date%></div>
            <div>Forecast 3: <%=curr3DayForecast.Forecast3main%></div>
            <div>Forecast 3 Icon: <%=curr3DayForecast.Forecast3icon%></div>
            <div>Forecast 3 description: <%=curr3DayForecast.Forecast3desc%></div>
            <div>Forecast 3 Rain Inches: <%=curr3DayForecast.Forecast3rain%></div>
            </div>
         </center>
    </div>
    <% } %>